<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864262931760-9v2oq8tlvjfkfn53aud5ag5qq2gmqgkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864262931760-9v2oq8tlvjfkfn53aud5ag5qq2gmqgkj</string>
	<key>API_KEY</key>
	<string>AIzaSyBfYHMZosFsFok3_FBOcB67qi-tnJclfps</string>
	<key>GCM_SENDER_ID</key>
	<string>864262931760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businessclient</string>
	<key>PROJECT_ID</key>
	<string>business-profile-cb5ad</string>
	<key>STORAGE_BUCKET</key>
	<string>business-profile-cb5ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864262931760:ios:33e15989c36a6984d174f5</string>
</dict>
</plist>